/* Modulo de CSS para los estilos del componente de página AboutPage */

.title {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.page {
    color: tomato;
}
.description {
    font-size: 1.1rem;
}
.link {
    color: royalblue;
}
